In [1]:
import pandas as pd
import datetime

In [2]:
x = datetime.datetime.now()
print(x)

2020-09-04 23:50:01.350962

In [3]:
print(x.day, x.month, x.year)

4 9 2020

In [4]:
print(x.strftime("%A"))

Friday

In [5]:
y = datetime.datetime(2020, 5, 17)
print(y)

2020-05-17 00:00:00

In [6]:
course = {
    'ID' : ['ID1', 'ID2', 'ID3', 'ID4'],
    'Name' : ['S1', 'S2', 'S3', 'S4'],
    'Prof' : ['Dr. A', 'Dr. B', 'Dr. C', 'Dr. D']
}

In [7]:
cdf = pd.DataFrame(course, columns=['ID','Name','Prof'])

In [8]:
cdf

    ID Name   Prof
0  ID1   S1  Dr. A
1  ID2   S2  Dr. B
2  ID3   S3  Dr. C
3  ID4   S4  Dr. D

In [9]:
course1 = {
    'videoID' : [1,2,3,4,5,6,7,8],
    'status' : ['No','No','No','No','No','No','No','No']
}
course2 = {
    'videoID' : [1,2,3,4,5,6,7,8],
    'status' : ['No','No','No','No','No','No','No','No']
}
course3 = {
    'videoID' : [1,2,3,4,5,6,7,8],
    'status' : ['No','No','No','No','No','No','No','No']
}
course4 = {
    'videoID' : [1,2,3,4,5,6,7,8],
    'status' : ['No','No','No','No','No','No','No','No']
}

c1 = pd.DataFrame(course1)
c2 = pd.DataFrame(course2)
c3 = pd.DataFrame(course3)
c4 = pd.DataFrame(course4)

In [10]:
cdf['videos'] = [course1, course2, course3, course4]

In [11]:
ass1 = {
    'assID' : [1,2,3],
    'status' : ['No','No','No'],
    'dep' : [2,5,7],
    'deadline' : [datetime.datetime(2020, 9, 12),
                  datetime.datetime(2020, 9, 25),
                  datetime.datetime(2020, 10, 1)]
}
ass2 = {
    'assID' : [1,2,3],
    'status' : ['No','No','No'],
    'dep' : [2,4,6],
    'deadline' : [datetime.datetime(2020, 9, 6),
                  datetime.datetime(2020, 9, 23),
                  datetime.datetime(2020, 9, 30)]
}
ass3 = {
    'assID' : [1,2,3],
    'status' : ['No','No','No'],
    'dep' : [1,3,8],
    'deadline' : [datetime.datetime(2020, 9, 17),
                  datetime.datetime(2020, 10, 2),
                  datetime.datetime(2020, 10, 17)]
}
ass4 = {
    'assID' : [1,2,3],
    'status' : ['No','No','No'],
    'dep' : [2,5,6],
    'deadline' : [datetime.datetime(2020, 9, 11),
                  datetime.datetime(2020, 9, 17),
                  datetime.datetime(2020, 10, 28)]
}

a1 = pd.DataFrame(ass1, columns=['assID','status','dep', 'deadline'])
a2 = pd.DataFrame(ass2, columns=['assID','status','dep', 'deadline'])
a3 = pd.DataFrame(ass3, columns=['assID','status','dep', 'deadline'])
a4 = pd.DataFrame(ass4, columns=['assID','status','dep', 'deadline'])

cdf['assgnmts'] = [ass1, ass2, ass3, ass4]

In [12]:
x = datetime.datetime.now()
print(x)

2020-09-04 23:50:01.593457

In [13]:
#for each in a1:
 #   print(each)
print(a1.iloc[2]['status'])

No

In [14]:
a1

   assID status  dep   deadline
0      1     No    2 2020-09-12
1      2     No    5 2020-09-25
2      3     No    7 2020-10-01

In [15]:
if x.strftime("%A") not in ['Sunday']:
    # working_time <= 6-7 hrs
    # assume each lecture is 1 hr long
    # assume each assignment takes 1 hr
    stack1 = []
    for each in a1['assID']:
        if a1.iloc[each-1]['status']=='No':
            stack1.append((a1.iloc[each-1]['deadline'] - x).days)
    stack2 = []
    for each in a2['assID']:
        if a2.iloc[each-1]['status']=='No':
            stack2.append((a2.iloc[each-1]['deadline'] - x).days)
    stack3 = []
    for each in a3['assID']:
        if a3.iloc[each-1]['status']=='No':
            stack3.append((a3.iloc[each-1]['deadline'] - x).days)
    stack4 = []
    for each in a4['assID']:
        if a4.iloc[each-1]['status']=='No':
            stack4.append((a4.iloc[each-1]['deadline'] - x).days)

In [16]:
print(stack1)
print(stack2)
print(stack3)
print(stack4)

[7, 20, 26]
[1, 18, 25]
[12, 27, 42]
[6, 12, 53]

In [17]:
workstack = []

In [18]:
count = 0
while True:
    for i in range(len(stack1)):
        if stack1[i] == count:
            workstack.append((1,a1.iloc[i]['dep'],stack1[i]))
    for i in range(len(stack2)):
        if stack2[i] == count:
            workstack.append((2,a2.iloc[i]['dep'],stack2[i]))
    for i in range(len(stack3)):
        if stack3[i] == count:
            workstack.append((3,a3.iloc[i]['dep'],stack3[i]))
    for i in range(len(stack4)):
        if stack4[i] == count:
            workstack.append((4,a4.iloc[i]['dep'],stack4[i]))
    if len(workstack) > 6:
        break
    else:
        count += 1

In [19]:
print(cdf)

    ID Name   Prof                                             videos  \
0  ID1   S1  Dr. A  {'videoID': [1, 2, 3, 4, 5, 6, 7, 8], 'status'...
1  ID2   S2  Dr. B  {'videoID': [1, 2, 3, 4, 5, 6, 7, 8], 'status'...
2  ID3   S3  Dr. C  {'videoID': [1, 2, 3, 4, 5, 6, 7, 8], 'status'...
3  ID4   S4  Dr. D  {'videoID': [1, 2, 3, 4, 5, 6, 7, 8], 'status'...

                                            assgnmts
0  {'assID': [1, 2, 3], 'status': ['No', 'No', 'N...
1  {'assID': [1, 2, 3], 'status': ['No', 'No', 'N...
2  {'assID': [1, 2, 3], 'status': ['No', 'No', 'N...
3  {'assID': [1, 2, 3], 'status': ['No', 'No', 'N...

In [20]:
workstack
# Ist = course number
# 2nd = dependency on lecture no.
# 3rd = no. of days left

[(2, 2, 1),
 (4, 2, 6),
 (1, 2, 7),
 (3, 1, 12),
 (4, 5, 12),
 (2, 4, 18),
 (1, 5, 20)]

In [27]:
tasks = []
for i,j,k in workstack:
    if k==0:
        # do task immediately
        seq = cdf.iloc[i-1]['videos']['status']
        for l in range(j):
            if seq[l] == 'No':
                tasks.append((i,l+1))
        print(seq)
print(tasks)

[]

In [29]:
# fill the tasks list
for i,j,k in workstack:
    seq = cdf.iloc[i-1]['videos']['status']
    for l in range(j):
        if seq[l] == 'No':
            tasks.append((i,l+1))
    if len(tasks)>7:
        break
print(tasks)
# tasks 1st element = course number
# tasks 2nd element = lecture number

[(2, 1), (2, 2), (4, 1), (4, 2), (1, 1), (1, 2), (3, 1), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (2, 1), (2, 2)]